{{>head}}
    {{>navbar}}
    <div class="row">
        <div class="col-8">
            <h1>Iron Man</h1>
            <p>
                Iron Man (también conocido en español como El Hombre de Hierro) es un superhéroe que aparece en los cómics estadounidenses publicados por Marvel Comics. El personaje fue cocreado por el escritor y editor Stan Lee, desarrollado por el guionista Larry Lieber y diseñado por los artistas Don Heck y Jack Kirby. Hizo su primera aparición en Tales of Suspense # 39 (marzo de 1963), y recibió su propio título en Iron Man #1 (mayo de 1968)
            </p>
        </div>
        <div class="col-4 text-center">
            <img src="assets/img/_109476426_jheison3.png" class="img-thumbnail center">
        </div>
    </div>

{{>footer}}